[core]
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[user]
	name = Rohan Jain
	email = crodjer@gmail.com
[github]
	user = crodjer
[format]
	signoff = true
[sendemail]
	smtpuser = crodjer@gmail.com
	suppresscc = all
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	chainreplyto = false
[core]
	# editor = emacsclient -ct
	excludesfile = /home/rohan/.gitignore
[grep]
	lineNumber = true
[color]
	ui = true
[imap]
	folder = "[Gmail]/Drafts"
	host = imaps://imap.gmail.com
	user = crodjer@gmail.com
	port = 993
	sslverify = false
[branch "master"]
	remote = origin
	merge = refs/heads/master
[instaweb]
	browser = firefox
	port = 4321
[web]
	browser = firefox
[cola]
	tabwidth = 4
[alias]
    lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(black)%s%C(reset) %C(bold black)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(black)%s%C(reset) %C(bold black)— %an%C(reset)' --abbrev-commit
    lg = !"git lg1"
[push]
	default = simple
[commit]
	gpgSign = true
