[core]
	whitespace = trailing-space,space-before-tab
[user]
	name = Rohan Jain
	email = crodjer@pm.me
[format]
	signoff = true
[core]
	excludesfile = /home/rohan/.gitignore
[grep]
	lineNumber = true
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	summary = true
[diff]
    colorMoved = default
[commit]
	verbose = true
	gpgsign = true
[rerere]
	enabled = true
[pull]
	ff = only
	rebase = false
[include]
    path = ~/.gitconfig.delta
    path = ~/.gitconfig.local
[fetch]
    prune = true
[push]
	autoSetupRemote = true
