[user]
	name = Rohan Jain
	email = crodjer@gmail.com

[http]
	;proxy = 10.3.100.211:8080
	;proxy = 10.3.100.209:8080
	;proxy = 144.16.192.247:8080
	;proxy = 144.16.192.213:8080
	;proxy = localhost:8080

[core]
	editor = vim
[branch "master"]
	remote = origin
	merge = refs/heads/master
[grep]
	lineNumber = true
[color]
	ui = always
