set keymap emacs
set editing-mode emacs
set completion-ignore-case On
set mark-symlinked-directories on
set bell-style none
set show-all-if-ambiguous on

# Tab: menu-complete
# "\e[Z": menu-complete-backward
