* {
  all: unset; // Unsets everything so you can style everything from scratch
}

$rosewater: #f2d5cf;
$flamingo: #eebebe;
$pink: #f4b8e4;
$mauve: #ca9ee6;
$red: #e78284;
$maroon: #ea999c;
$peach: #ef9f76;
$yellow: #e5c890;
$green: #a6d189;
$teal: #81c8be;
$sky: #99d1db;
$sapphire: #85c1dc;
$blue: #8caaee;
$lavender: #babbf1;
$text: #c6d0f5;
$subtext1: #b5bfe2;
$subtext0: #a5adce;
$overlay2: #949cbb;
$overlay1: #838ba7;
$overlay0: #737994;
$surface2: #626880;
$surface1: #51576d;
$surface0: #414559;
$base: #303446;
$mantle: #292c3c;
$crust: #232634;

$padding: 5px 10px;
$border-right: 0.5px solid $overlay1;

// Global Styles
.bar {
  background: $base;
  color: $text;
  font-size: small;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff {
  padding-left: 10px;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric-tooltip {
  color: $crust;
  background: $text;
  padding: $padding;
  border-radius: 3px;
}

.metric {
  border-right: $border-right;
  padding: 0 5px;
}

.metric scale trough highlight {
  all: unset;
  background-color: $green;
  color: #000000;
  border-radius: 10px;
}

.metric.warn scale trough highlight {
  background: $yellow;
}

.metric.critical scale trough highlight {
  background: $red;
}

.metric scale trough {
  all: unset;
  background-color: $mantle;
  border: 1px solid $surface2;
  border-radius: 50px;
  min-height: 4px;
  min-width: 50px;
  margin-left: 5px;
}

.metric .label{
  font-size: large;
}

.metric.warn .label {
  color: $yellow;
}

.metric.critical .label {
  color: $red;
}

.workspaces {
  background: $base;
}

.workspaces label {
  padding: $padding;
}

.workspaces button:hover {
  background: $lavender;
  color: $base;
}

.workspace {
  border-right: $border-right;
}

.workspaces .empty {
  // Blend the empty workspaces in the UI, to not call attention.
  color: $surface1;
}

.workspaces .occupied {
}

.workspaces .current {
  background: $lavender;
  color: $base;
}

.workspaces .urgent {
  background: $rosewater;
  color: $text;
}

.window-name {
  // border-left: 3px solid $crust;
  margin-left: 0;
  padding: $padding;
}

.sidestuff .systray {
  padding: $padding;
}
