@import "latte.css";

* {
    border: none;
    border-radius: 0;
}

window#waybar {
    color: @text;
    background: @base;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 0.4em;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -0.2em transparent;
}

#workspaces button:hover {
    background: @mantle;
    color: @subtext0;
    box-shadow: inset 0 -0.2em @overlay1;
}

#workspaces button.focused {
    background: @crust;
    color: @teal;
    box-shadow: inset 0 -0.2em @overlay0;
}

#workspaces button.urgent {
    background: @rosewater;
    color: @subtext1;
}

#mode {
    background: @rosewater;
    color: @subtext2;
    box-shadow: inset 0 -0.2em @overlay0;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    border-radius: 0.2em;
    margin: 0em 0.4em;
    padding: 0.2em 0.4em;
    font-size: 1.2em;
}

#workspaces {
    margin: 0 0.1em;
}

#window {
    margin-left: 0.5em;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: @mantel;
        color: @subtext0;
    }
}

/* Generic state colors */
.good {
    /* Things are good, grab for no attention */
}
.normal {
    /* Green */
    color: @green;
}
.medium {
    /* Yellow */
    color: @yellow;
}
.high, .low {
    /* Red. Based on the metric, low or high can be bad. */
    color: @red;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.full.charging,
#battery.critical:not(.charging) {
    background: @red;
    color: @subtext2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: @red;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor {
    color: @subtext1;
}

#idle_inhibitor.activated {
    background: @yellow;
    color: @subtext1;
}
