font_size = 30
bg_color = 0x282828ee
font_color = 0xd5c4a1ff

[input_text]
# font = ...
font_color = 0x282828ff
bg_color = 0xa89984ff
# Margin/padding values are specified as in CSS
# i.e. either a signle for all directions
# or two values, the first for top/bottom and the second for left/right
# or finally four values for top, right, bottom and left directions.
margin = "15"
padding = "5"

[list_items]
selected_font_color = 0x689d68ff
margin = "5 15"

[icon]
size = 16 # no scaling is performed, so need to choose exact size
theme = "Adwaita"
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"
