set keymap emacs
set editing-mode emacs
set completion-ignore-case on
set mark-symlinked-directories on
set bell-style none
set show-all-if-ambiguous on

"\ep": menu-complete-backward
"\en": menu-complete
"\eh": "\C-aman \C-e\C-m"

# Tab: menu-complete
